%center-elem {
  display: flex;
  align-items: center;
  justify-content: center;
}

%center-body {
  margin: auto;
}

@mixin create-button-type(
  $type: "primary",
  $color: $secondaryClr,
  $padding-x: 1rem,
  $padding-y: 0.5rem
) {
  cursor: pointer;
  border: none;
  padding-left: $padding-x;
  padding-right: $padding-x;
  padding-top: $padding-y;
  padding-bottom: $padding-y;

  background-color: $secondaryClr;

  @if $type == primary {
    border-radius: 1rem;
    background-color: $primaryBtnClr;
    color: white;
  } @else if $type == secondary {
    border-radius: 1rem;
    background-color: $secondaryBtnClr;
    color: white;
  }
}
